<%= form_for(@game_user) do |f| %>
  <% if @game_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_user.errors.count, "error") %> prohibited this game_user from being saved:</h2>

      <ul>
      <% @game_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :dice %><br>
    <%= f.text_field :dice %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
