<p id="notice"><%= notice %></p>

<div class="container">
  <h1><%= @user.email %></h1>
</div>
<div class="container">
  <%= link_to "Create Game", :create, class: "btn btn-primary pull-right" %>
</div>
<div class="container">
  <h2>Live game</h2>
  <% @game_users.each do |game_users| %>
    <h1><%= game_users.game.name %></h1>
    <p>Turn: <%= game_users.game.turn %>, Completed: <%= (game_users.game.completed==1) ? "Yes" : "No" %>
      <span class="btn-group pull-right">
        <%= link_to "Show Game", :game, class: "btn btn-secondary btn-sm" %>
        <%= link_to "Edit Game", edit_game_path(game_users.game), class: "btn btn-secondary btn-sm"  %>
        <%= link_to "Delete Game", game_users.game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-sm"  %>
      </span>
    </p>
  <% end %>
</div>
<hr style="border: solid #ccc; border-width: 2px 0 0; clear: both; margin: 22px 0 21px; height: 0;">
<div class="container">
  <h2>Finished matches</h2>
  <% @game_users.each do |game_users| %>
    <h1>Josh's Game</h1>
    <p>Winner: Josh
      <span class="btn-group pull-right">
        <%= link_to "Show Game", :game, class: "btn btn-secondary btn-sm" %>
        <%= link_to "Edit Game", edit_game_path(game_users.game), class: "btn btn-secondary btn-sm"  %>
        <%= link_to "Delete Game", game_users.game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-sm"  %>
      </span>
    </p>
  <% end %>
</div>