<% provide(:title, 'Landing') %>
<div class="container">
  <h1>Liar's Dice</h1>
  <div class="row">
    <div class="col-xs-12 col-md-8 well">
      <div id="phaser-window">
        <script src = "https://js.pusher.com/3.0/pusher.min.js"></script>
        <%= javascript_include_tag 'phaser.min.js', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'game', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'engine', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'player', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'diepool', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'die', 'data-turbolinks-track' => true %>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 well" style="height: 640px;">
      <h3>Chat</h3>
      <div class="row">
        <div class="col-md-12", id="chat">
          Nicu: Hi!
        </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col-xs-8">
              <input type="text" id="chatInput" class="form-control" placeholder="Say something here..." required autofocus>
            </div>
            <div class="col-xs-4">
              <button class="btn btn-md btn-primary btn-block" type="submit" onclick = 'submitMessage()'>Send</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>