<% provide(:title, 'Landing') %>
<div id="landingContainer" class="container">
  <img src="/assets/sprites/piratedice.png" class="center-block" alt="Pirate Dice" id="landingImage">
  <h1>LIARS DICE<h1/>
  <div class="row">
    <%= link_to "Create", "#", data: {toggle: "modal", target: "#myModal"}, class: "btn btn-primary btn-lg" %>
    <%= link_to "Join", :join , class: "btn btn-danger btn-lg" %>
  </div>
  <div class="row">
    <%= link_to "Leaderboard", :leaderboard , class: "btn btn-info btn-lg" %>
    <%= link_to "About", :about , class: "btn btn-success btn-lg" %>
  </div>
</div> <!-- /container -->

<div class="text-center text-uppercase spacer"><%=link_to "or play as guest", :play%></div>