<% provide(:title, 'Landing') %>

<div id="landingContainer" class="container">
  <img src="/assets/sprites/piratedice.png" class="center-block" alt="Pirate Dice" id="landingImage">
  <h1>LIARS DICE<h1/>
  <div class="row">
    <% if user_signed_in? %>
      <%= link_to "Create", "#", data: {toggle: "modal", target: "#myModal"}, class: "btn btn-danger btn-lg" %>
    <% else %>
      <%= link_to "Create", new_user_session_path, class: "btn btn-danger btn-lg" %>
    <% end%>
    <%= link_to "Join", :join , class: "btn btn-primary btn-lg" %>
  </div>
  <div class="row">
    <%= link_to "Leaderboard", "#", data: {toggle: "modal", target: "#leaderBoardModal"} , class: "btn btn-info btn-lg" %>
    <%= link_to "About", :about , class: "btn btn-success btn-lg" %>
  </div>
</div> <!-- /container -->

<div id="backgroundaudio">
 <audio autoplay="" controls="" loop="" preload="">
 <source src="/assets/sfx/landing.ogg" type="audio/ogg"></source>
 <source src="/assets/sfx/landing.mp3" type="audio/mpeg"></source>
  Your browser does not support the audio element.
 </audio>