<% provide(:title, 'Landing') %>
<div class="container">
  <div class="text-center text-uppercase spacer"><%= link_to "Create", :play %></div>
  <div class="text-center text-uppercase spacer"><%= link_to "Join", :join %></div>
  <div class="text-center text-uppercase spacer"><%= link_to "Leaderboard", :leaderboard %></div>
  <div class="text-center text-uppercase spacer"><%= link_to "Spectate", :spectate %></div>
</div> <!-- /container -->

<div class="text-center text-uppercase spacer"><%=link_to "or play as guest", :play%></div>