<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<div class="container">
  <%= link_to "Create", "#", data: {toggle: "modal", target: "#myModal"}, class: "btn btn-primary pull-right" %>
    <% @games.each do |game| %>
      <h1><%= game.name %></h1>
      <p>Turn: <%= game.turn %>, Completed: <%= (game.completed==1) ? "Yes" : "No" %>
        <span class="btn-group pull-right">
          <%= link_to "Show Game", game, class: "btn btn-secondary btn-sm" %>
          <%= link_to "Edit Game", edit_game_path(game), class: "btn btn-secondary btn-sm"  %>
          <%= link_to "Delete Game", game, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-sm"  %>
        </span>
      </p>
    <% end %>
</div>
