<%= form_for(:game) do |f| %>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Create a Game</h4>
        </div>
        <div class="modal-body">
          <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :max_users %><br>
            <%= f.text_field :max_users %>
          </div>
        </div>
        <div class="modal-footer">
          <div class="actions">
            <%= f.submit "Create", :class => "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>